body {
  margin: 0px;
  color: #141B1C;
  font-family: 'Roboto Slab', serif;
}

h1,
h3,
h4,
h5 {
  font-weight: 400;
}

header {
  position: relative;
  background-color: #337CA0;
  height: 200px;
}

.account {
  height: 61px;
  width: 370px;
  margin: 10px 20px;
  float: right;
  position: relative;
}

.account > *,
nav > * {
  display: inline-block;
  margin: 10px;
}

nav {
  position: absolute;
  bottom: 30px;
  height: 50px;
}

#bb-logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 90px;
}

.head-icon {
  height: 35px;
  margin: 5px 10px 0px 30px;
}

main {
  background-color: #E13700;
}

.profile-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 25px 0px 10px;
}

.profile {
  width: 333px;
  position: relative;
  background-color: #F7E1BB;
  margin: 8px 0px;
  box-shadow: 5px 5px rgba(20, 27, 28, 0.3);
}

.article-top {
  height: 170px;
}

.flip-icon {
  height:60px;
  margin: 10px;
}

.play-count {
  float: right;
  margin: 15px;
}

.play-count h4 {
  margin: 0px;
  color: #F7E1BB;
  text-transform: uppercase;
  font-size: 14px;
}

h2 {
  position: relative;
  bottom: 5px;
  margin: 0px 40px 0px 0px;
  color: #F7E1BB;
  font-size: 28px;
  line-height: 90%;
  letter-spacing: 3px;
}

#art-top1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/jacob.jpg');
  background-size: 130%;
  background-position: -60px -20px;
}

#art-top2 {  
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/maggie-jo.jpg');
  background-size: 100%;
  background-position: 0px -60px ;
}

#art-top3 {  
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/derek.jpg');
  background-size: 100%;
  background-position: 0px -60px ;
}

#art-top4 {  
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/matt.jpg');
  background-size: 120%;
  background-position: -20px -70px ;
}

#art-top5 {  
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/kenzie.jpg');
  background-size: 150%;
  background-position: -120px -30px ;
}

#art-top6 {  
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/sydney.jpg');
  background-size: 100%;
  background-position: 0px -30px ;
}

#art-top7 {  
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/savannah.jpg');
  background-size: 100%;
  background-position: 0px -30px ;
}

#art-top8 {  
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/zach.png');
  background-size: 120%;
}

h6 {
  color: #337CA0;
  font-size: 40px;
  margin: -5px 10px 10px ;
}

h1 {
  font-size: 48px;
  margin: 10px 0px 30px 20px;
  font-weight: 700;
}

h5,
h4,
h6,
.url-box {
  margin-left: 20px;
}

.play-count h2 {
  margin: 0px;
  margin-left: 5px;
}

h3 {
  margin: 0px;
  font-size: 24px;
  position: relative;
  bottom: 10px;
}

.profile h3{
  margin-left: 20px;
  margin-top: 10px;
}

h4 {
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 12px;
}

h5 {
  margin-top: -5px;
  margin-bottom: 10px;
  color: rgba(20, 27, 28, 0.5)
}

.url-box {
  height: 40px;
  width: 270px;
  background-color: rgba(20, 27, 28, 0.1);
  padding: 10px;
  word-wrap: break-word;
  margin: 20px;
}

p {
  font-size: 12px;
  margin: 0px;
}

.template {
  visibility: hidden;
}

.account h3 {
  margin-right: -5px;
}

.account .head-icon {
  margin: 5px 0px 0px 30px;
}

nav h2:hover {
  color: #39B200;
}

@media (max-width: 1033px) {
  nav h2 {
    margin-right: 0px;
  }
  nav .head-icon {
    margin-left: 5px;
  }
}

@media (max-width: 832px) {
  #bb-logo, .account, nav {
    position: static;
    display: block;
    float: none;
    margin: 10px auto;
  }
  
  .head-icon,
  .account img {
    width: 20px; 
    height: 20px;
  }
  
  .account h3, nav h2 {
    font-size: 16px;
  }

  .account {
    width: 310px;
    margin-top: 0px;
    padding: auto;
  }

  header {
    height: 250px;
  }

  nav {
    width: 390px;
  }
}

@media (max-width: 395px) {
  nav > * {
    display: inline;
  }

  nav {
    width: 150px;
    height: 80px;
  }

  .account {
    height: 50px;
  }
}

